@import "Styles/mixins_var";

.tabs {
  position: relative;
  z-index: 0;

  li {
    padding: 15px;
    background-color: $white;
    border-radius: 5px 5px 0 0;
    margin-right: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.active {
      box-shadow: $shadow_l;
      background-color: $violetAccent;
      color: $white;
    }

    &:not(.active):hover {
      background-color: $violetHover;
    }
  }
}

.bug_list {
  border-radius: 0 10px 10px 10px;
  position: relative;
  z-index: 1;
  padding: 5px;

  ul {
    position: relative;
    min-height: 50px;
  }

  .title {
    justify-content: flex-start;

    p {
      font-weight: 600;
    }
  }

  .title, ul > li {
    p {
      padding: 3px 5px;
      width: 10%;
    }

    p:not(:first-child) {
      text-align: center;
      border-left: 1px solid $bg;
    }

    p:first-child {
      width: 35%;
    }

    p:nth-child(3), p:nth-child(4) {
      width: 8%;
    }

    p:nth-child(5), p:nth-child(6) {
      width: 18%;
    }

    p:last-child {
      width: 13%;
    }
  }
}

