@import "Styles/mixins_var";

.listItem {
  @include flx($jc: flex-start);
  margin-top: 2px;

  &:last-child {
    border-radius: 0 0 8px 8px;
  }

  &[data-priority="low"] {
    background-color: $info_bg;
  }

  &[data-priority="medium"] {
    background-color: $warning_bg;
  }

  &[data-priority="high"] {
    background-color: $error_bg;
  }

  p {
    font-size: $s;
    
    a {
      display: block;
    }
  }
}